/* RESET */
/* RESET */
/* line 4, ../scss/_base.scss */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0; }

/* line 5, ../scss/_base.scss */
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

/* line 6, ../scss/_base.scss */
table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0; }

/* line 7, ../scss/_base.scss */
caption, th {
  text-align: left;
  font-weight: normal; }

/* line 8, ../scss/_base.scss */
html, body, fieldset, img, iframe, abbr {
  border: 0; }

/* line 9, ../scss/_base.scss */
i, cite, em, var, address, dfn {
  font-style: normal; }

/* line 10, ../scss/_base.scss */
[hidefocus], summary {
  outline: 0; }

/* line 11, ../scss/_base.scss */
ol, ul {
  list-style: none; }

/* line 12, ../scss/_base.scss */
li {
  list-style: none; }

/* line 13, ../scss/_base.scss */
a, button {
  cursor: pointer; }

/* line 14, ../scss/_base.scss */
sup, sub {
  font-size: 83%; }

/* line 15, ../scss/_base.scss */
pre, code, kbd, samp {
  font-family: inherit; }

/* line 16, ../scss/_base.scss */
q:before, q:after {
  content: none; }

/* line 17, ../scss/_base.scss */
textarea {
  overflow: auto;
  resize: none; }

/* line 18, ../scss/_base.scss */
label, summary {
  cursor: default; }

/* line 19, ../scss/_base.scss */
img {
  vertical-align: top;
  border: 0; }

/* line 20, ../scss/_base.scss */
h1, h2, h3, h4, h5, h6, button, input, select, textarea {
  font-size: 100%;
  font-weight: 400; }

/* line 21, ../scss/_base.scss */
i, u, em, b, strong {
  font-style: normal;
  text-decoration: none;
  font-weight: 400; }

@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
/* line 31, ../scss/_base.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px; }

/* line 104, base/*.png */
.base-sprite, .p-toper h2 a, .p-toper p i, .p-footer .main .main-l dt em, .p-footer .main .main-l dt em.icon2, .p-footer .main .main-l dt em.icon3, .p-footer .main .main-r dt {
  background-image: url('../images/base-sb574509fdc.png');
  background-repeat: no-repeat; }

/* skin */
/* line 58, ../scss/_base.scss */
body {
  font-size: 12px;
  font-family: "PingHei",'Microsoft YaHei','Lucida Grande','Lucida Sans Unicode','Arial';
  -webkit-text-size-adjust: none;
  color: #444; }

/* line 59, ../scss/_base.scss */
input, textarea, button, select, keygen, legend, button {
  outline: none;
  resize: none;
  font-family: 'Lucida Grande','Lucida Sans Unicode','Arial';
  color: #4D4D4D; }

/* line 60, ../scss/_base.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset; }

/* line 61, ../scss/_base.scss */
a {
  color: #323232;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease; }
  /* line 63, ../scss/_base.scss */
  a:hover {
    color: #3EBBF4;
    text-decoration: underline;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease; }

/*
* font color
*/
/* line 51, ../scss/_base.scss */
.cRed, .cRed a {
  color: #E24D46; }

/* line 54, ../scss/_base.scss */
a.cRed:hover, .cRed a:hover {
  color: #3EBBF4; }

/* line 51, ../scss/_base.scss */
.cYellow, .cYellow a {
  color: #DDD666; }

/* line 54, ../scss/_base.scss */
a.cYellow:hover, .cYellow a:hover {
  color: #3EBBF4; }

/* line 51, ../scss/_base.scss */
.cWhite, .cWhite a {
  color: #fff; }

/* line 54, ../scss/_base.scss */
a.cWhite:hover, .cWhite a:hover {
  color: #3EBBF4; }

/* line 51, ../scss/_base.scss */
.cGray, .cGray a {
  color: #707070; }

/* line 54, ../scss/_base.scss */
a.cGray:hover, .cGray a:hover {
  color: #3EBBF4; }

/* line 51, ../scss/_base.scss */
.cBlack, .cBlack a {
  color: #000; }

/* line 54, ../scss/_base.scss */
a.cBlack:hover, .cBlack a:hover {
  color: #3EBBF4; }

/* line 51, ../scss/_base.scss */
.cBlue, .cBlue a {
  color: #0ae; }

/* line 54, ../scss/_base.scss */
a.cBlue:hover, .cBlue a:hover {
  color: #3EBBF4; }

/* line 51, ../scss/_base.scss */
.cOrange, .cOrange a {
  color: #ED892E; }

/* line 54, ../scss/_base.scss */
a.cOrange:hover, .cOrange a:hover {
  color: #3EBBF4; }

/* line 51, ../scss/_base.scss */
.cGreen, .cGreen a {
  color: #1ABA00; }

/* line 54, ../scss/_base.scss */
a.cGreen:hover, .cGreen a:hover {
  color: #3EBBF4; }

/*
* font
*/
/* line 81, ../scss/_base.scss */
.fy {
  font-family: 'Microsoft YaHei'; }

/* line 82, ../scss/_base.scss */
.fa {
  font-family: Arial; }

/* line 83, ../scss/_base.scss */
.fs {
  font-family: \5B8B\4F53; }

/* line 84, ../scss/_base.scss */
.fb {
  font-weight: bold; }

/* line 85, ../scss/_base.scss */
.f12 {
  font-size: 12px; }

/* line 86, ../scss/_base.scss */
.f13 {
  font-size: 13px; }

/* line 87, ../scss/_base.scss */
.f14 {
  font-size: 14px; }

/* line 88, ../scss/_base.scss */
.f15 {
  font-size: 15px; }

/* line 89, ../scss/_base.scss */
.f16 {
  font-size: 16px; }

/* line 90, ../scss/_base.scss */
.f18 {
  font-size: 18px; }

/* line 91, ../scss/_base.scss */
.f20 {
  font-size: 20px; }

/* line 92, ../scss/_base.scss */
.f24 {
  font-size: 24px; }

/* line 93, ../scss/_base.scss */
.fun, .fun:hover {
  text-decoration: underline; }

/* line 94, ../scss/_base.scss */
.fjd {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* line 95, ../scss/_base.scss */
.ftl {
  text-align: left; }

/* line 96, ../scss/_base.scss */
.ftc {
  text-align: center; }

/* line 97, ../scss/_base.scss */
.ftr {
  text-align: right; }

/*
* base
*/
/* line 102, ../scss/_base.scss */
.left {
  float: left; }

/* line 103, ../scss/_base.scss */
.right {
  float: right; }

/* line 104, ../scss/_base.scss */
.none {
  display: none; }

/* line 105, ../scss/_base.scss */
.block {
  display: block; }

/* line 106, ../scss/_base.scss */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
  display: block; }

/* line 107, ../scss/_base.scss */
.clearfix {
  *zoom: 1; }
  /* line 109, ../scss/_base.scss */
  .clearfix:after {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
    content: "."; }

/* line 112, ../scss/_base.scss */
.css3img img {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }
/* line 113, ../scss/_base.scss */
.css3img a:hover img {
  opacity: 0.7;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

/* line 116, ../scss/_base.scss */
.p-w {
  width: 990px;
  margin: 0 auto; }

/* line 119, ../scss/_base.scss */
.p-w:after, .p-w:before {
  display: table;
  content: " "; }

/* line 120, ../scss/_base.scss */
.p-w:after {
  clear: both; }

/* line 122, ../scss/_base.scss */
.p-body {
  padding-bottom: 216px;
  position: relative; }

/* line 126, ../scss/_base.scss */
.p-toper {
  height: 70px; }
  /* line 128, ../scss/_base.scss */
  .p-toper h2 {
    float: left;
    padding: 15px 0 0 23px; }
    /* line 130, ../scss/_base.scss */
    .p-toper h2 a {
      display: block;
      height: 100%;
      width: 151px;
      height: 42px;
      background-position: 0 -89px;
      text-indent: -999em;
      overflow: hidden; }
  /* line 134, ../scss/_base.scss */
  .p-toper p {
    float: right;
    padding: 23px 20px 0 0; }
    /* line 136, ../scss/_base.scss */
    .p-toper p i {
      display: inline-block;
      width: 22px;
      height: 23px;
      background-position: -54px -131px;
      margin: 0 7px -9px 0; }

/* line 142, ../scss/_base.scss */
.p-menu {
  border-top: 1px solid #ECEDF2; }
  /* line 144, ../scss/_base.scss */
  .p-menu .main {
    overflow: hidden; }
    /* line 146, ../scss/_base.scss */
    .p-menu .main ul {
      width: 1200px;
      overflow: hidden;
      margin-left: -13px; }
    /* line 149, ../scss/_base.scss */
    .p-menu .main li {
      float: left;
      padding: 0 32px;
      position: relative;
      line-height: 50px; }
      /* line 151, ../scss/_base.scss */
      .p-menu .main li span {
        position: absolute;
        right: 0;
        height: 15px;
        border-left: 1px solid #C0C0C0;
        border-right: 1px solid #F0F0F0;
        top: 17px; }
      /* line 155, ../scss/_base.scss */
      .p-menu .main li.on a {
        color: #3EBBF4; }
      /* line 158, ../scss/_base.scss */
      .p-menu .main li.on em {
        position: absolute;
        bottom: 0;
        border: 7px solid #B3B5B3;
        border-top: none;
        border-left-color: transparent;
        border-right-color: transparent;
        left: 50%;
        margin-left: -7px; }
    /* line 163, ../scss/_base.scss */
    .p-menu .main a {
      text-decoration: none; }

/* line 169, ../scss/_base.scss */
.p-submenu {
  background: #6F6F6F;
  height: 34px;
  border-top: 1px solid #B3B5B3; }
  /* line 171, ../scss/_base.scss */
  .p-submenu div {
    text-align: right;
    padding-top: 4px; }
    /* line 173, ../scss/_base.scss */
    .p-submenu div a, .p-submenu div span {
      display: inline-block;
      color: #fff;
      line-height: 22px;
      padding: 0 11px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      margin: 0 5px; }
    /* line 176, ../scss/_base.scss */
    .p-submenu div a:hover, .p-submenu div span {
      background: #898989;
      text-decoration: none; }

/* line 182, ../scss/_base.scss */
.p-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1); }
  /* line 184, ../scss/_base.scss */
  .p-footer .main {
    padding: 20px 0;
    overflow: hidden;
    text-shadow: 1px 2px 2px #333333; }
    /* line 186, ../scss/_base.scss */
    .p-footer .main .main-l {
      float: left; }
      /* line 188, ../scss/_base.scss */
      .p-footer .main .main-l dl {
        width: 142px;
        float: left; }
      /* line 191, ../scss/_base.scss */
      .p-footer .main .main-l dt {
        height: 41px; }
        /* line 193, ../scss/_base.scss */
        .p-footer .main .main-l dt em {
          display: inline-block;
          width: 18px;
          height: 18px;
          background-position: -36px -131px;
          margin: 0 5px -2px 0; }
          /* line 195, ../scss/_base.scss */
          .p-footer .main .main-l dt em.icon2 {
            width: 18px;
            height: 18px;
            background-position: 0 -131px; }
          /* line 198, ../scss/_base.scss */
          .p-footer .main .main-l dt em.icon3 {
            width: 18px;
            height: 18px;
            background-position: -18px -131px; }
      /* line 203, ../scss/_base.scss */
      .p-footer .main .main-l dd {
        line-height: 22px;
        padding-left: 22px; }
    /* line 208, ../scss/_base.scss */
    .p-footer .main .main-r {
      float: right; }
      /* line 210, ../scss/_base.scss */
      .p-footer .main .main-r dl {
        float: right;
        width: 110px;
        height: 128px;
        overflow: hidden;
        background: #C7C9C7;
        margin-left: 15px; }
      /* line 213, ../scss/_base.scss */
      .p-footer .main .main-r dt {
        width: 88px;
        height: 89px;
        background-position: 0 -243px;
        margin: 11px;
        margin-bottom: 0; }
      /* line 216, ../scss/_base.scss */
      .p-footer .main .main-r dd {
        text-align: center;
        padding-top: 5px; }
  /* line 221, ../scss/_base.scss */
  .p-footer .copyright {
    background: #505050;
    line-height: 30px; }

/* line 5, ../scss/home.scss */
.p-body {
  background: #EFF1EE; }
