/* RESET */
/* RESET */
/* line 4, ../scss/_base.scss */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0; }

/* line 5, ../scss/_base.scss */
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

/* line 6, ../scss/_base.scss */
table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0; }

/* line 7, ../scss/_base.scss */
caption, th {
  text-align: left;
  font-weight: normal; }

/* line 8, ../scss/_base.scss */
html, body, fieldset, img, iframe, abbr {
  border: 0; }

/* line 9, ../scss/_base.scss */
i, cite, em, var, address, dfn {
  font-style: normal; }

/* line 10, ../scss/_base.scss */
[hidefocus], summary {
  outline: 0; }

/* line 11, ../scss/_base.scss */
ol, ul {
  list-style: none; }

/* line 12, ../scss/_base.scss */
li {
  list-style: none; }

/* line 13, ../scss/_base.scss */
a, button {
  cursor: pointer; }

/* line 14, ../scss/_base.scss */
sup, sub {
  font-size: 83%; }

/* line 15, ../scss/_base.scss */
pre, code, kbd, samp {
  font-family: inherit; }

/* line 16, ../scss/_base.scss */
q:before, q:after {
  content: none; }

/* line 17, ../scss/_base.scss */
textarea {
  overflow: auto;
  resize: none; }

/* line 18, ../scss/_base.scss */
label, summary {
  cursor: default; }

/* line 19, ../scss/_base.scss */
img {
  vertical-align: top;
  border: 0; }

/* line 20, ../scss/_base.scss */
h1, h2, h3, h4, h5, h6, button, input, select, textarea {
  font-size: 100%;
  font-weight: 400; }

/* line 21, ../scss/_base.scss */
i, u, em, b, strong {
  font-style: normal;
  text-decoration: none;
  font-weight: 400; }

/* line 104, base/*.png */
.base-sprite, .p-toper h2 a, .p-toper p i, .p-footer .main .main-l dt em, .p-footer .main .main-l dt em.icon2, .p-footer .main .main-l dt em.icon3, .p-footer .main .main-r dt {
  background-image: url('../images/base-sb574509fdc.png');
  background-repeat: no-repeat; }

/* skin */
/* line 41, ../scss/_base.scss */
body {
  font-size: 12px;
  font-family: "PingHei",'Microsoft YaHei','Lucida Grande','Lucida Sans Unicode','Arial';
  -webkit-text-size-adjust: none;
  color: #444; }

/* line 42, ../scss/_base.scss */
input, textarea, button, select, keygen, legend, button {
  outline: none;
  resize: none;
  font-family: 'Lucida Grande','Lucida Sans Unicode','Arial';
  color: #4D4D4D; }

/* line 43, ../scss/_base.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset; }

/* line 44, ../scss/_base.scss */
a {
  color: #323232;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease; }
  /* line 46, ../scss/_base.scss */
  a:hover {
    color: #3EBBF4;
    text-decoration: underline;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease; }

/*
* font color
*/
/* line 34, ../scss/_base.scss */
.cRed, .cRed a {
  color: #E24D46; }

/* line 37, ../scss/_base.scss */
a.cRed:hover, .cRed a:hover {
  color: #3EBBF4; }

/* line 34, ../scss/_base.scss */
.cYellow, .cYellow a {
  color: #DDD666; }

/* line 37, ../scss/_base.scss */
a.cYellow:hover, .cYellow a:hover {
  color: #3EBBF4; }

/* line 34, ../scss/_base.scss */
.cWhite, .cWhite a {
  color: #fff; }

/* line 37, ../scss/_base.scss */
a.cWhite:hover, .cWhite a:hover {
  color: #3EBBF4; }

/* line 34, ../scss/_base.scss */
.cGray, .cGray a {
  color: #707070; }

/* line 37, ../scss/_base.scss */
a.cGray:hover, .cGray a:hover {
  color: #3EBBF4; }

/* line 34, ../scss/_base.scss */
.cBlack, .cBlack a {
  color: #000; }

/* line 37, ../scss/_base.scss */
a.cBlack:hover, .cBlack a:hover {
  color: #3EBBF4; }

/* line 34, ../scss/_base.scss */
.cBlue, .cBlue a {
  color: #0ae; }

/* line 37, ../scss/_base.scss */
a.cBlue:hover, .cBlue a:hover {
  color: #3EBBF4; }

/* line 34, ../scss/_base.scss */
.cOrange, .cOrange a {
  color: #ED892E; }

/* line 37, ../scss/_base.scss */
a.cOrange:hover, .cOrange a:hover {
  color: #3EBBF4; }

/* line 34, ../scss/_base.scss */
.cGreen, .cGreen a {
  color: #1ABA00; }

/* line 37, ../scss/_base.scss */
a.cGreen:hover, .cGreen a:hover {
  color: #3EBBF4; }

/*
* font
*/
/* line 64, ../scss/_base.scss */
.fy {
  font-family: 'Microsoft YaHei'; }

/* line 65, ../scss/_base.scss */
.fa {
  font-family: Arial; }

/* line 66, ../scss/_base.scss */
.fs {
  font-family: \5B8B\4F53; }

/* line 67, ../scss/_base.scss */
.fb {
  font-weight: bold; }

/* line 68, ../scss/_base.scss */
.f12 {
  font-size: 12px; }

/* line 69, ../scss/_base.scss */
.f13 {
  font-size: 13px; }

/* line 70, ../scss/_base.scss */
.f14 {
  font-size: 14px; }

/* line 71, ../scss/_base.scss */
.f15 {
  font-size: 15px; }

/* line 72, ../scss/_base.scss */
.f16 {
  font-size: 16px; }

/* line 73, ../scss/_base.scss */
.f18 {
  font-size: 18px; }

/* line 74, ../scss/_base.scss */
.f20 {
  font-size: 20px; }

/* line 75, ../scss/_base.scss */
.f24 {
  font-size: 24px; }

/* line 76, ../scss/_base.scss */
.fun, .fun:hover {
  text-decoration: underline; }

/* line 77, ../scss/_base.scss */
.fjd {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* line 78, ../scss/_base.scss */
.ftl {
  text-align: left; }

/* line 79, ../scss/_base.scss */
.ftc {
  text-align: center; }

/* line 80, ../scss/_base.scss */
.ftr {
  text-align: right; }

/*
* base
*/
/* line 85, ../scss/_base.scss */
.left {
  float: left; }

/* line 86, ../scss/_base.scss */
.right {
  float: right; }

/* line 87, ../scss/_base.scss */
.none {
  display: none; }

/* line 88, ../scss/_base.scss */
.block {
  display: block; }

/* line 89, ../scss/_base.scss */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
  display: block; }

/* line 90, ../scss/_base.scss */
.clearfix {
  *zoom: 1; }
  /* line 92, ../scss/_base.scss */
  .clearfix:after {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
    content: "."; }

/* line 95, ../scss/_base.scss */
.css3img img {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }
/* line 96, ../scss/_base.scss */
.css3img a:hover img {
  opacity: 0.7;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

/* line 99, ../scss/_base.scss */
.p-w {
  width: 990px;
  margin: 0 auto; }

/* line 102, ../scss/_base.scss */
.p-w:after, .p-w:before {
  display: table;
  content: " "; }

/* line 103, ../scss/_base.scss */
.p-w:after {
  clear: both; }

/* line 105, ../scss/_base.scss */
.p-body {
  padding-bottom: 216px;
  position: relative;
  min-width: 990px;
  background: #F4F4F2; }

/* line 109, ../scss/_base.scss */
.p-toper {
  height: 70px;
  min-width: 990px; }
  /* line 111, ../scss/_base.scss */
  .p-toper h2 {
    float: left;
    padding: 15px 0 0 23px; }
    /* line 113, ../scss/_base.scss */
    .p-toper h2 a {
      display: block;
      height: 100%;
      width: 151px;
      height: 42px;
      background-position: 0 -89px;
      text-indent: -999em;
      overflow: hidden; }
  /* line 117, ../scss/_base.scss */
  .p-toper p {
    float: right;
    padding: 23px 20px 0 0; }
    /* line 119, ../scss/_base.scss */
    .p-toper p i {
      display: inline-block;
      width: 22px;
      height: 23px;
      background-position: -54px -131px;
      margin: 0 7px -9px 0; }

/* line 125, ../scss/_base.scss */
.p-menu {
  border-top: 1px solid #ECEDF2;
  min-width: 990px; }
  /* line 127, ../scss/_base.scss */
  .p-menu .main {
    overflow: hidden; }
    /* line 129, ../scss/_base.scss */
    .p-menu .main ul {
      width: 1200px;
      overflow: hidden;
      margin-left: -13px; }
    /* line 132, ../scss/_base.scss */
    .p-menu .main li {
      float: left;
      padding: 0 32px;
      position: relative;
      line-height: 50px; }
      /* line 134, ../scss/_base.scss */
      .p-menu .main li span {
        position: absolute;
        right: 0;
        height: 15px;
        border-left: 1px solid #C0C0C0;
        border-right: 1px solid #F0F0F0;
        top: 17px; }
      /* line 138, ../scss/_base.scss */
      .p-menu .main li.on a {
        color: #3EBBF4; }
      /* line 141, ../scss/_base.scss */
      .p-menu .main li.on em {
        position: absolute;
        bottom: 0;
        border: 7px solid #B3B5B3;
        border-top: none;
        border-left-color: transparent;
        border-right-color: transparent;
        left: 50%;
        margin-left: -7px; }
    /* line 146, ../scss/_base.scss */
    .p-menu .main a {
      text-decoration: none; }

/* line 152, ../scss/_base.scss */
.p-submenu {
  background: #6F6F6F;
  height: 34px;
  border-top: 1px solid #B3B5B3; }
  /* line 154, ../scss/_base.scss */
  .p-submenu div {
    text-align: right;
    padding-top: 4px; }
    /* line 156, ../scss/_base.scss */
    .p-submenu div a, .p-submenu div span {
      display: inline-block;
      color: #fff;
      line-height: 22px;
      padding: 0 11px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      margin: 0 5px; }
    /* line 159, ../scss/_base.scss */
    .p-submenu div a:hover, .p-submenu div span {
      background: #898989;
      text-decoration: none; }

/* line 165, ../scss/_base.scss */
.p-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  min-width: 990px; }
  /* line 167, ../scss/_base.scss */
  .p-footer .main {
    padding: 20px 0;
    overflow: hidden; }
    /* line 169, ../scss/_base.scss */
    .p-footer .main .main-l {
      float: left; }
      /* line 171, ../scss/_base.scss */
      .p-footer .main .main-l dl {
        width: 142px;
        float: left; }
      /* line 174, ../scss/_base.scss */
      .p-footer .main .main-l dt {
        height: 41px; }
        /* line 176, ../scss/_base.scss */
        .p-footer .main .main-l dt em {
          display: inline-block;
          width: 18px;
          height: 18px;
          background-position: -36px -131px;
          margin: 0 5px -2px 0; }
          /* line 178, ../scss/_base.scss */
          .p-footer .main .main-l dt em.icon2 {
            width: 18px;
            height: 18px;
            background-position: 0 -131px; }
          /* line 181, ../scss/_base.scss */
          .p-footer .main .main-l dt em.icon3 {
            width: 18px;
            height: 18px;
            background-position: -18px -131px; }
      /* line 186, ../scss/_base.scss */
      .p-footer .main .main-l dd {
        line-height: 22px;
        padding-left: 22px; }
    /* line 191, ../scss/_base.scss */
    .p-footer .main .main-r {
      float: right; }
      /* line 193, ../scss/_base.scss */
      .p-footer .main .main-r dl {
        float: right;
        width: 110px;
        height: 128px;
        overflow: hidden;
        background: #C7C9C7;
        margin-left: 15px; }
      /* line 196, ../scss/_base.scss */
      .p-footer .main .main-r dt {
        width: 88px;
        height: 89px;
        background-position: 0 -243px;
        margin: 11px;
        margin-bottom: 0; }
      /* line 199, ../scss/_base.scss */
      .p-footer .main .main-r dd {
        text-align: center;
        padding-top: 5px; }
  /* line 204, ../scss/_base.scss */
  .p-footer .copyright {
    background: #505050;
    line-height: 30px; }

/* line 209, ../scss/_base.scss */
.u-button {
  display: inline-block;
  line-height: 39px;
  border: 1px solid #0ae;
  text-align: center;
  border-radius: 2px;
  height: 39px;
  padding: 0 22px;
  color: #0ae;
  background: #fff;
  min-width: 160px; }
  /* line 211, ../scss/_base.scss */
  .u-button:hover {
    background: #0ae;
    text-decoration: none;
    color: #fff; }

/* line 96, login/*.png */
.login-sprite, .m-title, .m-form .item .icon, .m-form .item .icon02, .m-form .item .icon04, .m-form .item .select_arw, .m-form .item-idcard .upload li span, .m-form .tip span {
  background-image: url('../images/login-s2668e555b5.png');
  background-repeat: no-repeat; }

/* line 13, ../scss/login.scss */
.p-body {
  overflow: hidden; }

/* line 17, ../scss/login.scss */
.g-body {
  width: 418px;
  margin: 0 auto 30px;
  border: 1px solid #E2E2E2;
  position: relative;
  margin-top: 50px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 5px #ccc; }

/* line 21, ../scss/login.scss */
.m-title {
  width: 248px;
  height: 49px;
  background-position: 0 -51px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  margin: -15px 0 0 -124px;
  left: 50%; }

/* line 25, ../scss/login.scss */
.m-button {
  background: #F4F9FB;
  text-align: center;
  padding: 30px 0; }

/* line 29, ../scss/login.scss */
.m-form {
  padding: 40px 0 25px 60px; }
  /* line 31, ../scss/login.scss */
  .m-form .item {
    height: 105px;
    position: relative; }
    /* line 33, ../scss/login.scss */
    .m-form .item h2 {
      padding-top: 26px;
      font-size: 16px;
      color: #000;
      height: 32px; }
    /* line 36, ../scss/login.scss */
    .m-form .item .form {
      width: 295px;
      height: 45px;
      border: 1px solid #e9e9e9;
      position: relative;
      border-radius: 5px; }
    /* line 39, ../scss/login.scss */
    .m-form .item .icon {
      position: absolute;
      width: 13px;
      height: 13px;
      background-position: 0 0;
      top: 16px;
      left: 8px; }
    /* line 43, ../scss/login.scss */
    .m-form .item .icon02 {
      width: 13px;
      height: 13px;
      background-position: -13px 0; }
    /* line 47, ../scss/login.scss */
    .m-form .item .icon04 {
      width: 13px;
      height: 13px;
      background-position: -26px 0; }
    /* line 50, ../scss/login.scss */
    .m-form .item .line {
      height: 18px;
      width: 1px;
      background: #808080;
      position: absolute;
      top: 13px;
      left: 31px; }
    /* line 54, ../scss/login.scss */
    .m-form .item .error {
      position: absolute;
      background: #D84C29;
      line-height: 24px;
      color: #fff;
      left: 0;
      padding: 0 20px; }
    /* line 57, ../scss/login.scss */
    .m-form .item input, .m-form .item .text {
      border: none;
      padding: 10px;
      padding-left: 43px;
      width: 240px;
      font: 14px/24px Arial;
      height: 25px;
      background: transparent;
      position: relative; }
    /* line 61, ../scss/login.scss */
    .m-form .item .select {
      position: absolute;
      left: -1px;
      z-index: 2;
      background: #fff;
      border: 1px solid #e9e9e9;
      width: 100%; }
      /* line 63, ../scss/login.scss */
      .m-form .item .select li {
        border-bottom: 1px solid #e9e9e9;
        line-height: 40px;
        font-size: 14px;
        text-indent: 43px; }
        /* line 65, ../scss/login.scss */
        .m-form .item .select li:hover {
          background: #0ae;
          color: #fff; }
    /* line 71, ../scss/login.scss */
    .m-form .item .select_arw {
      position: absolute;
      right: 0;
      top: 0;
      width: 42px;
      height: 45px;
      background-position: -53px 0;
      border-left: 1px solid #e9e9e9; }
  /* line 77, ../scss/login.scss */
  .m-form .item-code .form {
    width: 145px; }
  /* line 80, ../scss/login.scss */
  .m-form .item-code input {
    width: 90px; }
  /* line 84, ../scss/login.scss */
  .m-form .item-code .btn {
    position: absolute;
    width: 135px;
    right: -150px;
    top: -1px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    background: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee); }
    /* line 86, ../scss/login.scss */
    .m-form .item-code .btn:hover {
      background: #e0e0e0;
      background-image: -webkit-linear-gradient(#ececec, #e0e0e0);
      background-image: linear-gradient(#ececec, #e0e0e0); }
  /* line 92, ../scss/login.scss */
  .m-form .item-idcard {
    width: 295px;
    overflow: hidden;
    height: auto; }
    /* line 94, ../scss/login.scss */
    .m-form .item-idcard .upload {
      width: 320px;
      overflow: hidden; }
      /* line 96, ../scss/login.scss */
      .m-form .item-idcard .upload li {
        position: relative;
        width: 140px;
        float: left;
        overflow: hidden;
        text-align: center;
        border: 1px dashed #e9e9e9;
        margin-right: 10px;
        height: 110px; }
        /* line 98, ../scss/login.scss */
        .m-form .item-idcard .upload li span {
          width: 51px;
          height: 51px;
          background-position: -95px 0;
          display: block;
          margin: 15px auto; }
        /* line 101, ../scss/login.scss */
        .m-form .item-idcard .upload li input {
          height: 100%;
          width: 100%;
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          cursor: pointer; }
  /* line 108, ../scss/login.scss */
  .m-form .tip {
    padding-top: 12px;
    width: 297px; }
    /* line 110, ../scss/login.scss */
    .m-form .tip span {
      width: 14px;
      height: 14px;
      background-position: -39px 0;
      display: inline-block;
      margin-bottom: -2px;
      margin-right: 5px; }
  /* line 114, ../scss/login.scss */
  .m-form .igree {
    padding-top: 12px;
    width: 297px; }
    /* line 116, ../scss/login.scss */
    .m-form .igree input {
      display: inline;
      vertical-align: middle;
      margin-right: 5px;
      cursor: pointer; }
    /* line 119, ../scss/login.scss */
    .m-form .igree label {
      cursor: pointer; }
