/* RESET */
@charset "utf-8";
@import 'base';
@import 'u-base';

.min_h{min-height: 382px;}
.u_jifen{width:688px;margin:36px auto 20px;overflow:hidden;color:#979696;
	dt,p{padding-bottom:20px;}
	p{
		line-height: 22px;
	}
}